nav{
    position : fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100rem;
    height: 5rem;
    border-bottom: 1px solid white;
    background-color: rgba(0,0,0,0.9);
    box-shadow: 0px 0px 10px black;
    color: white;
    font-size: larger;
}
nav li{
    list-style: none;
    transition: all ease-in-out 0.5s;
}
nav li:hover{
    color: red;
    cursor: pointer;
    border-bottom: 1px solid red;
}
.navDiv{
    display: flex;
    justify-content: space-around;
    width: 50vw;
}
#subNavDiv1{
    width: 13%;
}
.navDiv details{
    background:
    radial-gradient(circle at 50% 0%,
      rgba(0, 0, 0, 0.6),
      transparent 60%),
    linear-gradient(to bottom, #5a0000, #8b0000);
}
#blur-circle {
    position: fixed;
    top: 0;
    left: 50%;
    width: 400px;
    height: 400px;
    background: black;
    border-radius: 50%;
    /* filter: blur(150px); */
    transform: translateX(-50%);
    z-index: -10;
  }
  