.solar-system{
    /* border: 2px solid white; */
    width: 200rem;
    height: 200rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#myPic {
    width: 10%;
    height: 20%;
    border-radius: 50%;
    top: 60%;
    position: absolute;
    left: 69%;
}
#orbit1{
    width: 700px;
    height: 700px;
    position: absolute;
    top: 10%;
    left: 45%;
    animation: rotate 120s linear infinite ;

}
#orbit2{
    width: 600px;
    height: 600px;
    position: absolute;
    top: 20%;
    left: 49%;
    animation: rotate 100s reverse infinite ;

}
#orbit3{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 30%;
    left: 53%;
    animation: rotate 80s linear infinite ;

}
#orbit4{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 40%;
    left: 58%;
    animation: rotate 40s reverse infinite ;

}
#orbit5 {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 47%;
    left: 62%;
    animation: rotate 20s linear infinite ;

}
#orbit6 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 55%;
    left: 66%;
    animation: rotate 15s reverse infinite ;
}
.pics{
    border-radius: 50%;
    height: 50px;
    position: absolute;
    top: 0;
    /* background-color: white; */
    width: 50px;
    /* animation: rotate 10s linear 0s infinite ; */
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}